# Created by codeshack.io

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### C# ###
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.suo
*.cache
*.dll
*.exe
*.pdb
obj/
bin/